{% extends "base/base.html" %}

{% block content %}
    <h2>Upcoming events</h2>
    {% for event in events %}
    <h3>{{ event.name }}</h3>
    <h4><i> {{ event.description }} </i></h4>
    <ul>
        <li> Location: {{ event.location }} </li>
        <li> Start time: {{ event.start_time }} </li>
        <li> End time: {{ event.end_time }} </li>
        <li> Users attending: {{ event.get_num_users }} </li>
        <li> Organizers attending: {{ event.get_num_orgs }} </li>
    </ul>
    <br/>
    {{ event.added_by }} - {{ event.added_at}}
    <br/>
    {% endfor %}
{% endblock %}
