{% extends "base/base.html" %}
{% load i18n %}
{% load roots_tags %}
{% load comments %}

{% block content %}
    {% for event in events %}

    {% define content_heading %}
    <a href="{% url "events_event_detail" event.pk %}">{{ event.name }}</a>
    {% enddefine %}

    {% define content %}
    <h4><i> {{ event.description }} </i></h4>
    <a href="{% url 'events_event_user_registration' event_id=event.pk %}"> {% trans "Register" %} </a>
    <br/>
    <ul>
        <li> {% trans "Location" %}: {{ event.location }} </li>
        <li> {% trans "Start time" %}: {{ event.start_time }} </li>
        <li> {% trans "End time" %}: {{ event.end_time }} </li>
        <li> {% trans "Users attending" %}: {{ event.get_num_users }} </li>
        <li> {% trans "Organizers attending" %}: {{ event.get_num_orgs }} </li>
    </ul>
    {% enddefine %}

    {% get_comment_count for event as num_comments %}

    {% define content_footer %}
    {% include "base/author.html" with user=event.added_by %}

    <div class="pull-right">
      {% comment %}Translators: Refering to the number of comments, with link to the discussion{% endcomment %}
      <a class="btn btn-default" style="padding: 0px 12px; margin-left: 10px; background-color: #F5F5F5;" href={% url 'events_event_detail' event.pk %}>
        <i class="fa fa-comments-o"></i>
        {% trans "Comments: " %}{{ num_comments }}
      </a>
    </div>

    <div class="pull-right">
      <span class="glyphicon glyphicon-time"></span>
      {{ event.added_at}}
    </div>
    {% enddefine %}

    {% include "base/panel.html" with content_heading=content_heading content=content content_footer=content_footer %}

    {% endfor %}
{% endblock %}
