{% extends "base/base.html" %}
{% load roots_tags %}

{% block content %}
    {% for event in events %}

    {% define content_heading %}
    {{ event.name }}
    {% enddefine %}

    {% define content %}
    <h4><i> {{ event.description }} </i></h4>
    <a href="{% url 'events_event_user_registration' event_id=event.pk %}"> Register </a>
    <br/>
    <ul>
        <li> Location: {{ event.location }} </li>
        <li> Start time: {{ event.start_time }} </li>
        <li> End time: {{ event.end_time }} </li>
        <li> Users attending: {{ event.get_num_users }} </li>
        <li> Organizers attending: {{ event.get_num_orgs }} </li>
    </ul>
    {% enddefine %}

    {% define content_footer %}
    <span class="glyphicon glyphicon-user"></span>
    {{ event.added_by.get_full_name }}
    <div class="pull-right">
      <span class="glyphicon glyphicon-time"></span>
      {{ event.added_at}}
    </div>
    {% enddefine %}

    {% include "base/panel.html" with content_heading=content_heading content=content content_footer=content_footer %}

    {% endfor %}
{% endblock %}
