{% extends "base/base.html" %}
{% load sekizai_tags %}
{% load avatar_tags %}
{% load comments %}
{% load roots_tags %}
{% load i18n %}
{% load l10n %}
{% load static %}

{% block content %}

<div class="col-md-12 well profile">
  <div class="col-md-12">
  <div class="row">

    <div class="col-md-8">
      <h2>{{ profile.user.get_full_name }}</h2>
      <p><strong>About: </strong> Some stuff </p>
      <p><strong>Hobbies: </strong> Some other stuff </p>
      <p><strong>Competitions participated in: </strong>
      {% for competition in profile.participated_competitions %}
        <span class="tags"> {{ competition.name }}</span>
      {% endfor %}
      </p>
    </div>

    <div class="col-md-4 text-center">
      <img src="{% avatar_url profile.user 175 %}" class="img-circle img-responsive center-block"/>
    </div>
  </div>

  <div class="row divider text-center">
    <div class="col-md-4 emphasis">
    {% with best_rank=profile.best_ranking %}
    {% with competition=best_rank.0 season=best_rank.1 rank=best_rank.2 %}
      <h2>
      <strong>
        {% if rank.0 %}
          {{ rank.0 }}. {% trans "place" %}
          {% else %}
            -
          {% endif %}
        </strong>
      </h2>
      <p><small> {% trans "Best ranking" %} </small></p>
      <button class="btn btn-success btn-block">
        <span class="fa fa-plus-circle"></span>
        {% if season %}
          {{ season.name }} - {{ season.year }}
        {% else %}
          {% trans "Never competed" %}
        {% endif %}
      </button>
    {% endwith %}
    {% endwith %}
    </div>

    <div class="col-md-4 emphasis">
      <h2><strong>{{ profile.num_solved_problems }}</strong></h2>
      <p><small>{% trans "Solved problems" %}</small></p>
      <button class="btn btn-info btn-block">
        <span class="fa fa-user"></span> View Profile
      </button>
    </div>

    <div class="col-md-4 emphasis">
      <h2><strong>{{ profile.num_attended_camps }}</strong></h2>
      <p><small>{% trans "Attended camps" %}</small></p>
      <button class="btn btn-info btn-block">
        <span class="fa fa-user"></span> View Profile
      </button>
    </div>

  </div><!-- row -->

  <div class="row divider">
    <div class="col-md-offset-1 col-md-10 text-center">
      <canvas id="rankingsbyseason" style="margin:20px; margin-left:0px;"></canvas>
      <h4>{% trans "Percentile by season" %}</h4>
      <p>
          {% trans "The performance of the competitor shown as percentile in the respective season. " %}
          {% trans "Your percentile is the percentage of the competitors that scored less points than you, " %}
          {% trans "e.g. if you have 75th percentile, you achieved better score than three quarters of your fellow competitors. " %}
          {% trans "If you attended multiple competitions, they will be shown in the graph separately." %}
      </p>
    </div>
  </div>

  <div class="row divider text-center">
    <div class="commentBox col-md-6">
      <ul class="commentList">
      {% for comment in profile.get_last_comments %}
        {% include "comments/comment.html" %}
      {% endfor %}
    </div>
  </div>

</div>
</div>

{% addtoblock "css" %}
<link href="{{ STATIC_URL }}css/comments.css" rel="stylesheet" type="text/css" media="screen" />

<style>
.profile
{
    display: inline-block;
    padding: 19px;
    margin-top: 10px;
}
.profile .row
{
    margin-left: 0px;
    margin-right: 0px;
}
.divider
{
    margin-top:10px;
    border-top:1px solid rgba(0,0,0,0.1);
}
span.tags
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.emphasis
{
    border-top: 4px solid transparent;
    }
.emphasis:hover
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
</style>
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static "js/Chart.min.js" %}"></script>

<script>
var data_styling = [
        {
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
        },
        {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
        }
    ]

var data = {
    labels: [{% for s in all_season_segments %}"{{ s }}", {% endfor %}],
    {% for competition in profile.participated_competitions %}
    datasets: [
        {
            label: "{{ competition.name }}",
            data: [{% for v in competition_stats|access:competition.pk %}{{ v|unlocalize }}, {% endfor %}],
            fillColor: data_styling[{{forloop.counter0}}].fillColor,
            strokeColor: data_styling[{{forloop.counter0}}].strokeColor,
            pointColor: data_styling[{{forloop.counter0}}].pointColor,
            pointStrokeColor: data_styling[{{forloop.counter0}}].pointStrokeColor,
            pointHighlightFill: data_styling[{{forloop.counter0}}].pointHighlightFill,
            pointHighlightStroke: data_styling[{{forloop.counter0}}].pointHighlightStroke,
        },
    {% endfor %}
    ]
};

// Set the responsiveness
Chart.defaults.global.responsive = true;

// Get the context of the canvas element we want to select
var ctx = document.getElementById("rankingsbyseason").getContext("2d");
var myLineChart = new Chart(ctx).Line(data, {
        scaleOverride: true,
        scaleSteps: 5,
        scaleStepWidth: 20,
        scaleStartValue: 0,
        bezierCurve : true,
        bezierCurveTension : 0.4,
        tooltipTemplate: "<\%if (label){\%><\%=label\%>: <\%}\%><\%= value \%>. {% trans "percentile" %}",
    });

</script>
{% endaddtoblock %}
{% endblock %}
