{% extends "base/base.html" %}
{% load i18n %}
{% load roots_tags %}

{% block content %}
    {% for context_data_item in data %}

        {% define content_heading %}
        {{context_data_item.competition.name}}
        {% enddefine %}

        {% define content %}
        <ul class="list-inline img-responsive">
        {% for leaflet in context_data_item.leaflets %}
            <li class="col-sm-2">
            <a href="{{ MEDIA_URL }}{{ leaflet.get_leaflet_path }}" target="_blank">
                <img src="{{ MEDIA_URL }}{{ leaflet.get_thumbnail_path }}" class="img-responsive img-thumbnail" />
                <br>
                <div align="center">{{leaflet.year}} - {{leaflet.issue}}</div>
            </a>
            </li>
        {% endfor %}
        </ul>
        {% enddefine %}

        {% define content_footer %}
        <a href= "{% url 'leaflets_leaflet_competition_list' competition_id=context_data_item.competition.id %}">
          {% trans "show all leaflets for" %} {{context_data_item.competition.name}}
        </a>
        {% enddefine %}

        {% include "base/panel.html" with content_heading=content_heading content=content content_footer=content_footer%}

    {% endfor %}
{% endblock %}
