{% extends "base.html" %}
{% load i18n %}
{% load roots_tags %}
{% load sekizai_tags %}
{% load comments %}
{% load fluent_comments_tags %}

{% block content %}

{# CSS and Javascript for the comments  #}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />
<link href="{{ STATIC_URL }}css/comments.css" rel="stylesheet" type="text/css" media="screen" />
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/mathjax_watcher.js"></script>
{% endaddtoblock %}

{% define content_heading %}
{{ season.competition }} - {{ season.name }}
{% enddefine%}

{% define content %}

  <!-- navigation-tabs -->
  <ul class="nav nav-tabs">
  {% for series in season.series_set.all %}
        <li {% if series.is_nearest_deadline %}class="active"{% endif %}>
          <a href="#series-{{forloop.counter}}" data-toggle="tab">{{series.name}}</a>
        </li>
  {% endfor %}
  </ul>
  <!-- end navigation-tabs -->

  <!-- tab-content -->
  <div class="tab-content">
  {% for series in season.series_set.all %}
      <div class="tab-pane fade {% if series.is_nearest_deadline %}in active{% endif %}" id="series-{{series.pk}}">

          </br>
          <blockquote class="blockquote-info">
            <h4>
              <span class="glyphicon glyphicon-time"></span>
              {% trans "Series deadline:" %}
              <span class="text-{% if series.is_past_submission_deadline%}danger{% else %}success{% endif %}">
                {{series.submission_deadline}}
              </span>
              </h4>
          </blockquote>

        {% for problem in series.problemset.problems.all %}
          {% with solutions|access:series.pk|access:problem.pk as solution %}
            {% if solution %}
              {% define button_level %}success{% enddefine %}
              {% define button_title %}{{solution.added_at}}{{solution.pk}}{% enddefine %}
              {% define button_text %}{% trans "Submitted" %}{% enddefine %}
              {% define button_modal %}data-toggle="modal" data-target="#problem-submit-{{problem.pk}}"{% enddefine %}
              {% define discussion_modal %}data-toggle="modal" data-target="#problem-discussion-{{problem.pk}}"{% enddefine %}
            {% elif series.is_past_submission_deadline %}
              {% define button_level %}danger{% enddefine %}
              {% define button_title %}{% trans "Not submitted" %}{% enddefine %}
              {% define button_text%}{% trans "Not submitted" %}{% enddefine %}
              {% define button_modal %}{% enddefine %}
              {% define discussion_modal %}data-toggle="modal" data-target="#problem-discussion-{{problem.pk}}"{% enddefine %}
            {% else %}
              {% define button_level %}warning{% enddefine %}
              {% define button_title %}{% trans "Not yet submitted" %}{% enddefine %}
              {% define button_text%}{% trans "Submit" %}{% enddefine %}
              {% define submission_modal %}data-toggle="modal" data-target="#problem-submit-{{problem.pk}}"{% enddefine %}
              {% define discussion_modal %}data-toggle="modal" data-target="#problem-discussion-{{problem.pk}}"{% enddefine %}
            {% endif %}

            <div class="row">
              <div class="col-lg-9">
                <div class="well">
                  {{forloop.counter}}. {{problem.text}}
                </div>
              </div>

              <div class="col-lg-3">
                <button type="button" class="btn btn-{{button_level}} btn-default center-block" data-placement="top" title="{{button_title}}" {{submission_modal}}>
                  {{button_text}}
                </button>
                <button class="btn btn-default center-block" style="padding: 0px 12px; margin-top: 8px;" data-placement="bottom" title="{% trans "You can ask questions related to the problem here!" %}" {{discussion_modal}}>
                  <i class="fa fa-comments-o"></i>
                  {% get_comment_count for problem as num_comments %}
                  <span style="{% if num_comments > 0 %}font-weight: bold;{% endif %}">
                    {% trans "Discussion: " %}{{ num_comments }}
                  </span>
                </button>
              </div>
            </div><!-- row -->
          {% endwith %}
        {% endfor %}

      </div><!-- tabe-pane -->

      {% for problem in series.problemset.problems.all %}

      {# Problem submission modals #}

        {% if not series.is_past_submission_deadline %}
          <!-- Modal -->
          <div class="modal fade" id="problem-submit-{{problem.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">
                    {% blocktrans %} Problem submission: {{series.name}} - problem {{forloop.counter}} {% endblocktrans %}
                  </h4>
                </div>

                {% with forms|access:series.pk|access:problem.pk as form %}
                <div class="modal-body">
                <p class="well"> {{problem.text}} </p>

                {% define max_size %}
                {% settings_value "ROOTS_MAX_SOLUTION_SIZE" %}
                {% enddefine %}

                <div class="well" style="background-color: rgb(232,232,232)">

                  {% if form.solution.value %}
                  <p> {% trans "Current solution:" %}
                    <a href="{{MEDIA_URL}}{{form.solution.value}}">{{form.solution.value}} </a>
                  </p>
                  {% endif %}

                  <b>{% trans "Instructions" %}</b>:
                  <ul>
                    <li>{% trans "Preferable format is single PDF file." %}</li>
                    <li>{% trans "However, supported formats are: .doc, .jpg, .png, .gif, .tiff" %}</li>
                    <li>{% trans "These formats will be converted to PDF." %}</li>
                    <li>{% trans "You can upload mutliple files, they will be merged into one PDF file." %}</li>
                    <li>{% trans "Maximum size of solution is" %}: {{max_size|filesizeformat}}</li>
                  </ul>
                  <form class="form" action="{% url 'problems_usersolution_submit' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                  <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
                  </form>
                </div>


              {% endwith %}

              </div> <!-- modal-content -->
            </div> <!-- modal-dialog -->
          </div> <!-- modal -->
      {% endif %}

    {# Problem discussion modals  #}
    {% get_comment_list for problem as comment_list %}
    {% get_comment_form for problem as form %}
    {% define disabled %}{% if not user.is_authenticated %}disabled="disabled"{% endif %}{% enddefine %}
    {% define areatext %}{% if not user.is_authenticated %}{% trans "To post comments, you need to log in first." %}{% else %}{% trans "Write your comment here." %}{% endif %}{% enddefine %}

     <!-- Modal -->
     <div class="modal fade" id="problem-discussion-{{problem.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">

           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             <h4 class="modal-title" id="myModalLabel">
               {% blocktrans %} Problem discussion: {{series.name}} - problem {{forloop.counter}} {% endblocktrans %}
             </h4>
           </div>

           <div class="modal-body">
           <p class="well"> {{problem.text}} </p>

             <div style="max-height: 300px; overflow: scroll;">
               <ul class="commentList" id="comments-{{ problem.pk }}" data-object-id="{{ problem.pk }}">
                 {% for comment in comment_list %}{% include "comments/comment.html" %}{% endfor %}
               </ul>
             </div>

           </div>

           <div class="modal-footer">

             <form class="form-inline js-comments-form" id="comment-form-{{ form.target_object.pk }}" data-object-id="{{ form.target_object.pk }}" action="{% comment_form_target %}" method="post" data-ajax-action="{% url 'comments-post-comment-ajax' %}">
               {% csrf_token %}
               <div style="display: None">
                 {{ form.honeypot }}
               </div>
               {{ form.content_type }}
               {{ form.object_pk }}
               {{ form.timestamp }}
               {{ form.security_hash }}
               <input type="hidden" name="next" value="{{ request.path }}" />
               <textarea name="comment" class="" style="width:75%;" rows=3 placeholder="{{ areatext }}" {{ disabled }}/></textarea>
               <button class="btn btn-primary" style="width:15%; vertical-align: bottom;" {{ disabled }}/>{% trans "Submit" %}</button>
               <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
             </form>
             {% ajax_comment_tags for form.target_object %}

           </div>

         </div> <!-- modal-content -->
       </div> <!-- modal-dialog -->
     </div> <!-- modal -->

    {% endfor %}
  {% endfor %}
  </div> <!-- tab-content -->


{% enddefine %}

{% include "base/panel.html" with content_heading=content_heading content=content %}

{% addtoblock "js" %}
  <script language="javascript">
    $('button').tooltip();
  </script>
{% endaddtoblock %}

{% endblock %}
