{% extends "base.html" %}
{% load roots_tags %}
{% load sekizai_tags %}

{% block content %}

{% define content_heading %}
{{ season.competition }} - {{ season.name }}
{% enddefine%}

{% define content %}

  <!-- navigation-tabs -->
  <ul class="nav nav-tabs">
  {% for series in season.series_set.all %}
        <li {% if series.is_nearest_deadline %}class="active"{% endif %}>
          <a href="#series-{{forloop.counter}}" data-toggle="tab">{{series.name}}</a>
        </li>
  {% endfor %}
  </ul>
  <!-- end navigation-tabs -->

  <!-- tab-content -->
  <div class="tab-content">
  {% for series in season.series_set.all %}
      <div class="tab-pane fade {% if series.is_nearest_deadline %}in active{% endif %}" id="series-{{series.pk}}">

          </br>
          <blockquote class="blockquote-info">
            <h4>
              <span class="glyphicon glyphicon-time"></span>
              Series deadline:
              <span class="text-{% if series.is_past_submission_deadline%}danger{% else %}success{% endif %}">
                {{series.submission_deadline}}
              </span>
              </h4>
          </blockquote>

        {% for problem in series.problemset.problems.all %}
          {% with solutions|access:series.pk|access:problem.pk as solution %}
            {% if solution %}
              {% define button_level %}success{% enddefine %}
              {% define button_title %}{{solution.added_at}}{{solution.pk}}{% enddefine %}
              {% define button_text %}Submitted{% enddefine %}
              {% define button_modal %}data-toggle="modal" data-target="#problem-submit-{{problem.pk}}"{% enddefine %}
            {% elif series.is_past_submission_deadline %}
              {% define button_level %}danger{% enddefine %}
              {% define button_title %}Not submitted{% enddefine %}
              {% define button_text%}Not submitted{% enddefine %}
              {% define button_modal %}{% enddefine %}
            {% else %}
              {% define button_level %}warning{% enddefine %}
              {% define button_title %}Not yet submitted{% enddefine %}
              {% define button_text%}Submit{% enddefine %}
              {% define button_modal %}data-toggle="modal" data-target="#problem-submit-{{problem.pk}}"{% enddefine %}
            {% endif %}

            <div class="row">
              <div class="col-lg-9">
                <div class="well">
                  {{forloop.counter}}. {{problem.text}}
                </div>
              </div>

              <div class="col-lg-3">
                <button type="button" class="btn btn-{{button_level}} btn-default center-block" data-placement="bottom" title="{{button_title}}" {{button_modal}}>
                  {{button_text}}
                </button>
              </div>
            </div><!-- row -->
          {% endwith %}
        {% endfor %}

      </div><!-- tabe-pane -->

      {% for problem in series.problemset.problems.all %}
        {% if not series.is_past_submission_deadline %}
          <!-- Modal -->
          <div class="modal fade" id="problem-submit-{{problem.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">
                    Problem submission: {{series.name}} - problem {{forloop.counter}}
                  </h4>
                </div>

                {% with forms|access:series.pk|access:problem.pk as form %}
                <div class="modal-body">
                <p> {{problem.text}} </p>

                {% define max_size %}
                {% settings_value "ROOTS_MAX_SOLUTION_SIZE" %}
                {% enddefine %}

                <p> Maximum size of solution is: {{max_size|filesizeformat}} </p>

                <form class="form" action="{% url 'problems_usersolution_submit' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                  </form>
                </div>


                {% endwith %}

              </div> <!-- modal-content -->
            </div> <!-- modal-dialog -->
          </div> <!-- modal -->
      {% endif %}
    {% endfor %}
  {% endfor %}
  </div> <!-- tab-content -->


{% enddefine %}

{% include "base/panel.html" with content_heading=content_heading content=content %}

{% addtoblock "js" %}
  <script language="javascript">
    $('button').tooltip();
  </script>
{% endaddtoblock %}

{% endblock %}
