{% extends "base/base.html" %}
{% load sekizai_tags %}
{% load i18n wiki_tags %}
{% load url from future %}

{% block head_title %}
{% block wiki_pagetitle %}{% endblock %}
{% endblock head_title %}

{% block sekizai  %}
{% addtoblock "css" %}
<link href="{{STATIC_URL}}wiki/bootstrap/css/wiki-bootstrap.min.css" rel="stylesheet">
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{{STATIC_URL}}wiki/js/core.js"></script>
<!-- Optionally enable responsive features in IE8 -->
<script src="{{STATIC_URL}}wiki/js/respond.min.js"></script>
{% endaddtoblock %}
{% endblock %}

{% block navbar-brand %}
  {{ block.super }}
  {% block wiki_header_branding %}
  {% endblock %}
{% endblock %}


{% block navbar-right %}
  <form class="navbar-form pull-right-block-on-responsive" id="wiki-search-form" method="GET" action="{% url 'wiki:search' %}">
    <div class="input-group">
      <input type="search" class="form-control search-query" name="q" placeholder="{% trans "Search..." %}" />
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="icon-search"></span>
        </button>
      </span>
    </div><!-- /input-group -->
  </form>

  <div class="pull-right-block-on-responsive">
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="badge notification-cnt">0</span>
          {{ user }}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="{% url 'wiki:logout' %}">
              <i class="icon-off"></i>
              {% trans "Log out" %}
            </a>
          </li>
          {% include "wiki/plugins/notifications/menubaritem.html" %}
        </ul>
      </li>
    </ul>
    {% endif %}
  </div>

  {{ block.super }}
{% endblock  %}

{% block navbar-links %}
  {{ block.super }}
  {% block wiki_header_navlinks %}
  {% endblock %}
{% endblock %}

{% block content %}
  <!-- Reserved for breadcrumbs -->
  {% block wiki_breadcrumbs %}{% endblock %}
      
  <!-- Main page contents go here -->
  {% block wiki_contents %}{% endblock %}

  <footer id="wiki-footer">
    <hr />
    {% block wiki_footer_logo %}{% endblock %}
    {% block wiki_footer_prepend %}{% endblock %}
    <div style="clear: both"></div>
  </footer>

{% endblock %}

