{% load staticfiles %}
{% load account %}
{% load i18n %}
{% load mathjax %}
{% load sekizai_tags %}
{% load roots_tags %}

{% block sekizai %}
{% endblock %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>{% block head_title %}{% endblock head_title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/lightbox.css" %}" rel="stylesheet" />
    <link href="{% static "css/roots.css" %}" rel="stylesheet" />
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" />

    {% render_block "css" %}
    {% block roots_css %}
    {% endblock %}

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    {% mathjax_scripts %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block extra_head  %}
    {% endblock %}
  </head>

  <body>

  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/jquery.cookie.min.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/lightbox.js" %}"></script>
  <script src="{% static "js/csrf_ajax.js" %}"></script>
  <script src="{% static "js/eldarion-ajax/eldarion-ajax.min.js" %}"></script>
  {% render_block "js" %}
  {% block roots_js %}
  {% endblock %}

  {% block body %}
    {% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">

        {% block navbar-header %}
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand active" href="{% url 'roots_index' %}">
            {% block navbar-brand %}
              {% current_site request %}
            {% endblock %}
          </a>
        </div><!--/ navbar-header -->
        {% endblock %}

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% block navbar-links  %}
              {% get_other_sites as other_sites %}
              {% for site in other_sites %}
                <li><a href="https://{{ site.domain }}">{{ site.name }}</a></li>
              {% endfor %}
              {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}">{% trans "Administration" %}</a></li>
              {% else %}
              {% endif %}
            {% endblock %}
          </ul>

          {% block navbar-right %}
            {% for supported_lang in LANGUAGES %}
              {% with supported_lang|first as lang_id %}
                {% include "base/language_set_form.html" with lang=lang_id %}
              {% endwith %}
            {% endfor %}

          <ul class="nav navbar-nav pull-right">
            <li>
            {% if user.is_authenticated %}
              <a href="{% url 'account_logout' %}">
                {% trans "Logged in as " %}{% user_display user %}.
              </a>
            {% else %}
              <a href={% url 'account_login' %}>{% trans "You are not logged in." %}</a>
            {% endif %}
            </li>
          </ul><!--/.navbar-nav pull-right -->

          {% endblock %}
        </div><!--/ navbar-collapse -->
      </div><!-- container -->

    </div><!-- navbar -->
    {% endblock %}

    <div class="container-fluid">
        <div class="row">
            {% block left_panel %}
            <div class="col-sm-3 col-md-3">
                {% block logo %}
                <img src="{% static "logo.png" %}" class="center-block img-responsive" style="margin-bottom: 20px">
                {% endblock logo %}

                {% block menu %}
                {% include "base/menu.html" %}
                {% endblock menu %}

                {% block attribution %}
                <a href="https://github.com/tbabej/roots">
                  <img src="{% static "attribution.png" %}" class="center-block img-responsive img-thumbnail" style="margin-bottom: 20px">
                </a>
                {% endblock attribution %}

            </div><!--/span-->
            {% endblock %}

            {% block middle_panel %}
            <div class="col-sm-7 col-md-7">

                <div class="row">
                <!-- messages -->
                {% block messages %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-dismissable fade in {{ message.tags }} alert-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endblock %}
                <!-- messages-end -->
                {% block content_wrapper %}
                  {% block content %}
                  {% endblock %}
                {% endblock %}
                </div>
            </div><!--/span-->
            {% endblock %}

            {% block right_panel %}
                <div class="col-sm-2 col-md-2">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <h1 class="panel-title"><b>{% trans "News" %}</b></h1>
                    </div><!-- panel-heading -->

                    <div class="panel-body">
                      {% get_last_news as news %}
                      <small>
                      {% for news_line in news %}
                          <b>{{ news_line.heading }}</b><br/>
                          {{ news_line.text|safe }}<br>
                          <i>({{ news_line.added_at|date:"d. F Y" }})</i><br/>
                          {% if not forloop.last %}
                            <hr style="margin-top:6px; margin-bottom:6px">
                          {% endif %}
                      {% endfor %}
                      </small>
                    </div><!-- panel-body -->
                  </div><!-- panel -->

                  {% block right_panel_extra %}
                  {% endblock %}
                </div>
            {% endblock %}
        </div><!--/row-->
    </div> <!-- /container -->
  {% endblock %}

  {% render_block "late_js" %}
  {% block roots_late_js %}
  {% endblock %}

  </body>
</html>
