{% extends "base/base.html" %}
{% load roots_tags  %}

{% block content_wrapper %}

{% define def_content_heading %}
{% block content_heading %}{% endblock %}
{% enddefine %}

{% define def_content %}
{% block content %}{% endblock %}
{% enddefine %}

{% define def_content_footer %}
{% block content_footer %}{% endblock %}
{% enddefine %}

{% include "base/panel.html" with content_heading=def_content_heading content=def_content content_footer=def_content_footer %}

{% block extra_content %}
{% endblock %}

{% endblock %}
