{% extends "base/base.html" %}

{% block content_wrapper %}
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 class="panel-title"><b>{% block content_heading %}{% endblock %}</b></h1>
    </div><!-- panel-heading -->

    <div class="panel-body">
    {% block content %}
    {% endblock %}  
    </div><!-- panel-body -->

    <div class="panel-footer">
      {% block content_footer %}
      {% endblock %}
    </div><!-- panel-footer -->
  </div><!-- panel -->
{% endblock %}
