{% load staticfiles %}
{% load account %}
{% load mathjax %}
{% load sekizai_tags %}

{% block sekizai %}
{% endblock %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block head_title %}{% endblock head_title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/lightbox.css" %}" rel="stylesheet" />
    <link href="{% static "css/roots.css" %}" rel="stylesheet" />

    {% render_block "css" %}
    {% block roots_css %}
    {% endblock %}

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    {% mathjax_scripts %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block extra_head  %}
    {% endblock %}
  </head>

  <body>
  {% block body %}
    {% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">

        {% block navbar-header %}
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            {% block navbar-brand %}
            Roots
            {% endblock %}
          </a>
        </div><!--/ navbar-header -->
        {% endblock %}

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% block navbar-links  %}
              <li class="active"><a href="{% url 'roots_index' %}">Home</a></li>
              {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}">Administration</a></li>
              {% else %}
              {% endif %}
            {% endblock %}
          </ul>

          {% block navbar-right %}
          <div class="nav navbar-text pull-right">
            {% if user.is_authenticated %}
              Logged in as {% user_display user %}.
            {% else %}
              You are not logged in.
            {% endif %}
          {% endblock %}
          </div><!--/.navbar-text pull-rigt -->
        </div><!--/ navbar-collapse -->
      </div><!-- container -->
    </div><!-- navbar -->
    {% endblock %}

    <div class="container-fluid">
        <div class="row">
            {% block left_panel %}
            <div class="col-sm-3 col-md-3">
                {% block logo %}
                <img src="{% static "logo.png" %}" class="center-block">
                {% endblock logo %}

                {% block menu %}
                {% include "base/menu.html" %}
                {% endblock menu %}

            </div><!--/span-->
            {% endblock %}

            {% block middle_panel %}
            <div class="col-sm-7 col-md-7">

                {% include "base/carousel.html" %}

                <div class="row">
                <!-- messages -->
                {% block messages %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-dismissable fade in {{ message.tags }} alert-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endblock %}
                <!-- messages-end -->
                {% block content_wrapper %}
                  {% block content %}
                  {% endblock %}
                {% endblock %}
                </div>
            </div><!--/span-->
            {% endblock %}
        </div><!--/row-->
    </div> <!-- /container -->
  {% endblock %}

  <script src=http://code.jquery.com/jquery.js></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/lightbox.js" %}"></script>
  <script src="{% static "js/eldarion-ajax/eldarion-ajax.min.js" %}"></script>
  {% render_block "js" %}
  {% block roots_js %}
  {% endblock %}

  </body>
</html>
