<div class="row">
<div class="col-lg-8 col-lg-offset-2">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for id in "123" %}
    <div class="item{% ifequal id '1'%} active{% endifequal %}">
      <img src="{{MEDIA_URL}}carousel/{{id}}.jpg" alt="...">
      <div class="carousel-caption" style="color: black">
        <h3> Our participants are always suprised </h3>
        <p> Start to solve ROOTS today </p>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
</div>

