{% extends "base/base.html" %}
{% load i18n %}
{% load roots_tags %}
{% load comments %}

{% block content %}

{% define heading %}
{{ flatpage.title }}
{% enddefine %}

{% define heading_toolbar %}
  {% manages_this_site request as can_edit %}
  {% if can_edit %}
  <a href={% url 'admin:flatpages_flatpage_change' flatpage.pk %}>
    <span class="glyphicon glyphicon-pencil" style="text-decoration: none !important; color: gray; opacity:0.5; hover:none;">
    </span>
  </a>
  {% endif %}
{% enddefine %}


{% define content %}
{% autoescape off %}
{{ flatpage.content }}
{% endautoescape %}
{% enddefine %}

{% include "base/panel.html" with content_heading=heading content=content content_footer=footer heading_toolbar=heading_toolbar %}

{% endblock %}
