{% extends "base/base.html" %}
{% load i18n %}
{% load roots_tags %}
{% load comments %}

{% block content %}
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 class="panel-title"><b>{{ post.title }}</b></h1>
    </div><!-- panel-heading -->

    <div class="panel-body">
      {% autoescape off %}
      {{ post.text }}
      {% endautoescape %}
    </div><!-- panel-body -->

    <div class="panel-footer">
      <span class="glyphicon glyphicon-user"></span>
        {% if post.added_by.get_full_name %}
          {{ post.added_by.get_username }} ({{post.added_by.get_full_name}})
        {% else %}
          {{ post.added_by.get_username }}
        {% endif %}
      <div class="pull-right">
        <span class="glyphicon glyphicon-time"></span>
        {{ post.added_at}}
      </div>
    </div><!-- panel-footer -->
  </div><!-- panel -->

{% render_comment_list for post %}

{% endblock %}
