{% extends "base/base.html" %}
{% load i18n %}
{% load roots_tags %}
{% load comments %}

{% block content %}
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 class="panel-title"><b>{{ post.title }}</b></h1>
    </div><!-- panel-heading -->

    <div class="panel-body">
      {% autoescape off %}
      {{ post.text }}
      {% endautoescape %}
    </div><!-- panel-body -->

    <div class="panel-footer">
      {% include "base/author.html" with user=post.added_by %}

      <div class="pull-right">
        <span class="glyphicon glyphicon-time"></span>
        {{ post.added_at}}
      </div>
    </div><!-- panel-footer -->
  </div><!-- panel -->

{% render_comment_list for post %}

{% endblock %}
