{% extends "base/base.html" %}
{% load i18n %}
{% load roots_tags %}
{% load comments %}

{% block head_title %}{% trans "Posts" %}{% endblock %}

{% block content %}
  {% for post in posts %}

    {% define heading %}
    {{ post.title }}
    {% enddefine %}


    {% define heading_toolbar %}
    {% if request.user.is_staff %}
    <a href={% url 'admin:posts_post_change' post.pk %}>
      <span class="glyphicon glyphicon-pencil" style="text-decoration: none !important; color: gray; opacity:0.5; hover:none;">
      </span>
    </a>
    {% endif %}
    {% enddefine %}

    {% define content %}
    {% autoescape off %}
    {{ post.text | truncatewords_html:150 | remove_uncomplete_latex}}
    {% endautoescape %}
    <a href="{% url 'posts_post_detail' post.slug %}">{% trans "Read the full article" %}</a>
    {% enddefine %}

    {% get_comment_count for post as num_comments %}

    {% define footer %}
    {% include "base/author.html" with user=post.added_by %}

    <div class="pull-right">
      {% comment %}Translators: Refering to the number of comments, with link to the discussion{% endcomment %}
      <a class="btn btn-default" style="padding: 0px 12px; margin-left: 10px; background-color: #F5F5F5;" href={% url 'posts_post_detail' post.slug %}>
        <i class="fa fa-comments-o"></i>
        {% trans "Comments: " %}{{ num_comments }}
      </a>
    </div>

    <div class="pull-right">
      <span class="glyphicon glyphicon-time"></span>
      {{ post.added_at}}
    </div>
    {% enddefine %}

    {% include "base/panel.html" with content_heading=heading content=content content_footer=footer heading_toolbar=heading_toolbar %}

  {% endfor %}
{% endblock %}
