{% extends "base/base.html" %}
{% load roots_tags %}

{% block content %}
  {% for post in posts %}

    {% define heading %}
    {{ post.title }}
    {% enddefine %}

    {% define content %}
    {% autoescape off %}
    {{ post.text | truncatewords_html:150 | remove_uncomplete_latex}}
    {% endautoescape %}
    <a href="{% url 'posts_post_detail' post.slug %}">Read the full article</a>
    {% enddefine %}

    {% define footer %}
    <span class="glyphicon glyphicon-user"></span>
      {% if post.added_by.get_full_name %}
        {{ post.added_by.get_username }} ({{post.added_by.get_full_name}})
      {% else %}
        {{ post.added_by.get_username }}
      {% endif %}
    <div class="pull-right">
      <span class="glyphicon glyphicon-time"></span>
      {{ post.added_at}}
    </div>
    {% enddefine %}

    {% include "base/panel.html" with content_heading=heading content=content content_footer=footer %}

  {% endfor %}
{% endblock %}
