{% extends "base/base.html" %}
{% load i18n %}
{% load roots_tags %}
{% load comments %}

{% block content %}
    {% define heading %}
      {{ post.title }}
    {% enddefine %}

    {% define heading_toolbar %}
      {% manages_this_site request as can_edit %}
      {% if can_edit %}
      <a href={% url 'admin:posts_post_change' post.pk %}>
        <span class="glyphicon glyphicon-pencil" style="text-decoration: none !important; color: gray; opacity:0.5; hover:none;">
        </span>
      </a>
      {% endif %}
    {% enddefine %}

    {% define content %}
      {% autoescape off %}
      {{ post.text }}
      {% endautoescape %}
    {% enddefine %}

    {% define footer %}
    {% include "base/author.html" with user=post.added_by %}

    <div class="pull-right">
      <span class="glyphicon glyphicon-time"></span>
      {{ post.added_at}}
    </div>
    {% enddefine %}

    {% include "base/panel.html" with content_heading=heading content=content content_footer=footer heading_toolbar=heading_toolbar %}

  {% render_comment_list for post %}
{% endblock %}
